.pink_title {
    background-color: black;
    text-align: center;
    border-style:groove solid;
    border-spacing: 2px;
    border-style: solid;
    border-collapse: separate;
    color:deeppink !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.lide {
    
    color: black;
    text-decoration: underline !important;
    font-weight: inherit !important;
    font-size: 12px;
    font-style: normal !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.listas {
    border-style: dotted;
    color: pink !important;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black !important;

    
}

body {
    background-image: url('https://i.pinimg.com/originals/ca/7d/ee/ca7deed14a631f5f4e909425bf83b05d.gif');
}